<% if session[:user_id] != nil %>
  <form action="/account/edit" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email" value = <%= @user.email %>>
    <label for="password">Password</label>
    <input type="password" name="password" value = <%= @user.password %>>
    <label for="fname">First Name</label>
    <input type="text" name="fname" value = <%= @user.fname %>>
    <label for="lname">Last Name</label>
    <input type="text" name="lname" value = <%= @user.lname %>>
    <label for="birthday">Birthday</label>
    <input type="date" name="birthday" value = <%= @user.birthday %>>
    <label for="city">City</label>
    <input type="text" name="city" value = <%= @user.city %>>
    <label for="country">Country</label>
    <input type="text" name="country" value = <%= @user.country %>>
    <input type="submit">
  </form>
<% end %>
