<% if session[:user_id] != nil %>
  <form action="/posts/<%= @post.id %>/edit" method="POST">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <h3 class="text-center">
          Edit my post</h3>

        <div class="panel-body">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Genre</span>
              <input type="text" name="genre" class="form-control" value=<%= @post.genre %>>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Album</span>
              <input type="text" name ="album" class="form-control" value=<%= @post.album %>>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Artist</span>
              <input type="text" name="artist" class="form-control" value=<%= @post.artist%>>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Body of your post</span>
              <textarea name="body" class="form-control" value=><%= @post.body %></textarea>
            </div>
          </div>

        </div>
        <button type="submit">SUBMIT</button>
      </div>
    </div>
  </form>
<% else %>
  <h1>You're not logged in or the user who created this post, you can't edit this post! I don't even know how you got here!</h1>
<% end %>
