<h1>Edit post</h1>

<form action="/posts/<%= @post.id %>/edit" method="POST">
  <label for="title">Title</label>
  <input type="text" name="title" value="<%= @post.title %>">
  <label for="body">Body</label>
  <input type="text" name="body" value="<%= @post.body %>">
  <label for="genre">Genre</label>
  <input type="text" name="genre" value="<%= @post.genre %>">
  <label for="album">Album</label>
  <input type="text" name="album" value="<%= @post.album %>">
  <label for="artist">Artist</label>
  <input type="text" name="artist" value="<%= @post.artist %>">
  <input type="submit">
</form>
