<% if session[:user_id] == @post.user_id %>
  <h1>Edit post</h1>

  <form action="/posts/<%= @post.id %>/edit" method="POST">
    <label for="body">Body</label>
    <input type="text" name="body" value="<%= @post.body %>">

    <label for="genre">Genre</label>
    <input type="text" name="genre" value="<%= @post.genre %>">

    <label for="album">Album</label>
    <input type="text" name="album" value="<%= @post.album %>">

    <label for="artist">Artist</label>
    <input type="text" name="artist" value="<%= @post.artist %>">

    <input type="submit">
  </form>
<% else %>
  <h1>You're not logged in or the user who created this post, you can't edit this post! I don't even know how you got here!</h1>
<% end %>
