<h1>Title: <%= @post.title %></h1>

<p><%= @post.body %></p>
<h5>Genre: <%= @post.genre %></h5>
<h5>Album: <%= @post.album %></h5>
<h5>Artist: <%= @post.artist%></h5>

<% if session[:user_id] == @post.user_id %>
  <h4><a href="/posts/<%= @post.id %>/edit">Edit your post</a></h4>
  <h4><a href="/posts/<%= @post.id %>/delete">Delete your post</a></h4>
<% end %>
