<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if session[:user_id] != nil %>

  <h1><%= "#{@user.full_name}'s profile!"%></h1>
  <img src=<%= @user.picture %> alt="">
  <h2><%= "#{@user.city}, #{@user.country}"%></h2>
  <h3><%= "#{@user.followers.count} followers, #{@user.followed.count} followed." %></h3>


  <% if session[:user_id] == @user.id %>
    <form action="/users/<%= @user.id %>/edit" method="GET">
      <button class="btn-link">Edit your account</button>
    </form>
    <button class="span4 proj-div btn-link" data-toggle="modal" data-target="#deleteModal">Delete your account</button>

  <% elsif @user.followers.include?(User.find(session[:user_id])) %>

    <h3>You follow this user!</h3>
    <form action="/users/<%= @user.id %>/follow" method="POST">
      <button class="btn-link">Stop following this user</button>
    </form>
  <% else %>
    <form action="/users/<%= @user.id %>/follow" method="GET">
      <button class="btn-link">Follow this user</button>
    </form>
  <% end %>

  <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
          <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete your account?</h4>
        </div>
        <div class="modal-body">
          You can always turn back!
        </div>
        <div class="modal-footer">
          <form action="/users/<%= @user.id %>/delete" method="GET">
            <button type="button submit" class="btn btn-default">Yes</button>
          </form>
          <button type="button" class="btn" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">User Posts</div>
    <div class="panel-body">
      <% if @user.posts.count == 0 %>
        <div class="media">
          No posts to display!
        </div>

      <% else %>

        <% @user.posts.each do |post| %>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src=<%= @user.picture %>>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a href="/users/<%= @user.id %>"><%= "#{@user.full_name}" %></a></h4>
              <p><%= post.body %></p>
              <a href="/posts/<%= post.id %>">Link to this post</a>
              <% if session[:user_id] == @user.id %>
                <span> | </span><a href="/posts/<%= post.id %>/edit">Edit this post</a><span> | </span>
                <a href="/posts/<%= post.id %>/delete">Delete this post</a>
              <% end %>
            </div>
          </div>
        <% end %>

    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">User Posts</div>
  <div class="panel-body">
    <% if @posts.count == 0 %>
      <div class="media">
        No posts to display!
      </div>

    <% else %>

      <% counter = 0 %>
      <% while counter < @posts.count do %>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src=<%= User.where(@posts[counter].user_id) %>>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="/users/<%= @posts[counter].user_id %>"><%= "#{User.where(@posts[counter]).fullname}" %></a></h4>
            <p><%= @posts[counter].body %></p>
            <a href="/posts/<%= @posts[counter].id %>">Link to this post</a>
            <% if session[:user_id] == @user.id %>
              <span> | </span><a href="/posts/<%= @posts[counter].id %>/edit">Edit this post</a><span> | </span>
              <a href="/posts/<%= @posts[counter].id %>/delete">Delete this post</a>
            <% end %>
          </div>
        </div>
        <% counter += 1 %>
      <% end %>

  </div>
</div>
<% end %>

<% else %>
  <h1>You must be logged in to look at member profiles!</h1>
<% end %>
